* {
    margin: 0;
    padding: 0;
    font-family: Satisfy, sans-serif;
}

body {
    background-color: rgb(255, 188, 252);
}

nav {
    display: flex;
    margin: auto;
    top: 15px;
    position: relative;
    height: fit-content;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

#title {
    padding: 0px 50px;
    font-size: 46px;
    /* color: rgb(0, 238, 255); */
    color: rgb(255, 38, 92);
    text-shadow: 2px 0 #000, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

@media screen and (max-width: 350px) {
    #title {
        font-size: 30px;
        padding: 0px 30px;
    }
}

.infos {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    width: 60%;
}

.infos-title {
    margin: auto;
    color: rgb(255, 38, 92);
    font-size: 40px;
    text-shadow: 2px 0 #000, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    border-bottom: solid 5px;
    border-radius: 17px;
}

.infos-text {
    margin: auto;
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 26px;
    text-shadow: 1px 0 rgb(255, 80, 197);
}

.items {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.items-1 {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    margin: auto;
    margin-top: 50px;
    height: 500px;
    width: fit-content;
    align-items: center;
}

.items-2 {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    margin: auto;
    margin-top: 50px;
    height: 500px;
    width: fit-content;
    align-items: center;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 3 / 1 / 4 / 2; }
.div6 { grid-area: 3 / 2 / 4 / 3; }
.div7 { grid-area: 4 / 1 / 5 / 2; }
.div8 { grid-area: 4 / 2 / 5 / 3; }
.div9 { grid-area: 5 / 1 / 6 / 2; }
.div10 { grid-area: 5 / 2 / 6 / 3; }

.best {
    color: rgb(255, 38, 92);
    font-weight: bold;
    font-family: Poppins, sans-serif;
    margin-right: 10px;
}

.item {
    text-align: center;
    padding: 13px 30px;
    font-size: 26px;
    color: rgb(255, 80, 197);
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}

.price {
    text-align: center;
    padding: 13px 30px;
    font-size: 28px;
    font-weight: bold;
    color: rgb(0, 205, 219);
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}

@media screen and (max-width: 1300px) {
    .items {
        flex-direction: column;
    }
    
    .items-2 {
        margin-top: 25px;
    }
}

@media screen and (max-width: 620px) {
    .infos-title {
        font-size: 32px;
    }

    .infos-text {
        font-size: 24px;
    }
}

.links {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
}

.links-title {
    margin: auto;
    color: rgb(255, 38, 92);
    font-size: 40px;
    text-shadow: 2px 0 #000, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    border-bottom: solid 5px;
    border-radius: 17px;
}

.links-text {
    margin: auto;
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 26px;
    text-shadow: 1px 0 rgb(255, 80, 197);
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: white;
}

.creator {
    font-size: 18px;
    font-weight: bold;
}

.github a{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}